@{
    ViewData["Title"] = "About Us";
}

<main>
    <div class="about-image-wrapper">
        <img src="~/img/page/people.jpg" />
    </div>
    <div class="about-first-section-wrapper">
        <div class="about-text-section-wrapper">
            <h2>Transformando el Futuro Tecnológico</h2>
            <p>
                Somos una empresa dedicada a ofrecer soluciones de software innovadoras, redes seguras y servicios de outsourcing eficientes.
            </p>
        </div>
        <div class="about-images-carousel-wrapper">
            <div id="image-pointer">
                <img src="~/img/page/networking.jpg" />
            </div>
            <div class="about-carousel-points" id="about-carousel-points"></div>
        </div>
    </div>
</main>

@section References {
    <script src="~/js/about.js"></script>
    <link href="~/css/about.css" rel="stylesheet"   />
}