@{
    ViewData["Title"] = "Contact";
}

<main>
    <div class="contact-image-wrapper">
        <img src="~/img/page/walking.jpg" />
    </div>
    <div class="contact-section-wrapper">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Info de Contacto</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Form de Contacto</button>
            </li>
        </ul>

        <div class="tab-content pt-2">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2 class="contact-title">Información de Contacto</h2>
                <div class="contact-info-blocks-wrapper">
                    <div class="contact-info-block">
                        <img class="icon" src="~/img/icons/blue-phone.png" />
                        <h3 class="block-title">Número de Teléfono</h3>
                        <p class="contact-info">
                            +1 (829)873-8615
                        </p>
                    </div>
                    <div class="contact-info-block">
                        <img class="icon" src="~/img/icons/blue-email.png" />
                        <h3 class="block-title">Correo Electronico</h3>
                        <p class="contact-info">
                            projects@pionetglobal.com
                        </p>
                    </div>
                    <div class="contact-info-block">
                        <img class="icon" src="~/img/icons/blue-location.png" />
                        <h3 class="block-title">Dirección</h3>
                        <p class="contact-info">
                            20th Street, House #34,  Dominican Republic, Santo Domingo Norte, 11201
                        </p>
                    </div>
                    <div class="contact-info-block">
                        <img class="icon" src="~/img/icons/blue-share.png" />
                        <h3 class="block-title">Redes Sociales</h3>
                        <div class="contact-info">
                            <a href="https://wa.me/18298738615"><img class="contact-icon" src="~/img/icons/blue-whatsapp.png" /></a>
                            <a href="https://www.instagram.com/pionetglobal?igsh=cHJvbmZwYndmbmNq "><img class="contact-icon" src="~/img/icons/blue-instagram.png" /></a>
                            <a><img class="contact-icon" src="~/img/icons/blue-linkedin.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="contact-form-wrapper">
                    <h2 class="form-title">Formulario de Contacto</h2>
                    <form id="contact-form" class="contact-form">
                        <input name="username" class="name-input" placeholder="Nombre*" required />
                        <input name="phone-number" class="phone-number-input" placeholder="Número de Teléfono" />
                        <input name="email" class="email-number-input" placeholder="Correo Electronico*" required />
                        <textarea name="message" class="message-input" placeholder="Mensaje*" required></textarea>
                        <button type="submit" class="btn-submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</main>

@section References {
    <script>
        const frmEmail = document.getElementById('contact-form');
        frmEmail.addEventListener('submit', sendEmail);

        function sendEmail(event) {
            event.preventDefault();

            fetch('/Home/GetCredentials')
                .then(response => {
                    if(!response.ok){
                        throw new Error('Error en la solicitud.')
                    }
                    return response.json();
                })
                .then(data => {

                    emailjs.init(data.serviceId);

                    emailjs.sendForm(data.serviceId, data.templateId, frmEmail, data.apiKey)
                        .then(result => Swal.fire('Su mensaje se ha enviado con éxito.'))
                        .catch(error => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'No ha sido posible enviar el mensaje',
                            })
                        })

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
    <script src="~/js/contact.js"></script>
    <link href="~/css/contact.css" rel="stylesheet"   />
}