@{
    ViewData["Title"] = "Services";
}

<main>
    <div class="services-image-wrapper">
        <img src="~/img/page/hallway.jpg" />
    </div>
    <div class="services-section-wrapper">
        <div class="service-title-wrapper" id="service-title-wrapper">
            <h1>Outsourcing</h1>
        </div>
        <div class="block services-blocks-wrapper" id="service-block-1">
            <p class="service-title-wrapper" id="service-block-1-title" hidden>Outsourcing</p>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-soporte.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Soporte Técnico</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-gestion-it.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Desmantelar y Gestionar Infraestructura IT</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-mantenimiento.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Mantenimiento de Sistemas</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-incidencias.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Gestión de Incidencias</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-enseñar.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Capacitación y Formación</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-consultoria.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Consultoría IT</h3>
                <p class="service-description">
                    
                </p>
            </div>
        </div>
        <div class="block services-blocks-wrapper hidden" id="service-block-2">
            <p class="service-title-wrapper" id="service-block-2-title" hidden>Soporte IT Dedicado</p>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-soporte.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Soporte técnico general (hardware y software)</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-servidor.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Gestión y monitoreo de redes</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-soporte-en-línea.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Asistencia remota y capacitación al personal</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-informes.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Informes periódicos sobre el estado de sistemas y redes</h3>
                <p class="service-description">

                </p>
            </div>
        </div>
        <div class="block services-blocks-wrapper hidden" id="service-block-3">
            <p class="service-title-wrapper" id="service-block-3-title" hidden>Software</p>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-apps-medida.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Aplicaciones a la Medida</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-app-web.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Aplicaciones Web Empresariales</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-landing-page.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Landing Page e Impulso de Negocios</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-windows.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Aplicaciones de Windows</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-cms.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Sistema de Gestión de Contenidos (CMS)</h3>
                <p class="service-description">

                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-apps-medida.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Modernización de Aplicaciones</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-api.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">WebApi y Arquitecturas Orientadas a Servicios</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-apps-medida.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Aplicaciones Inteligentes</h3>
                <p class="service-description">
                    
                </p>
            </div>
            <div class="service-block">
                <img class="icon" src="~/img/icons/blue-medidor.png" />
                <div class="selection-indicator"><div></div></div>
                <h3 class="service-title">Indicadores para Tomas de Decisiones</h3>
                <p class="service-description">
                    
                </p>
            </div>
        </div>
    </div>
</main>

@section References {
    <script src="~/js/service.js"></script>
    <link href="~/css/service.css" rel="stylesheet"   />
}